.folderItem {
    list-style: none;
    margin-bottom: 5px;
}

.folderHeader {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.folderHeader.active {
    background-color: var(--color-accent);
    color: var(--color-primary-bg);
}

.folderHeader.active .collapseButton {
    color: var(--color-primary-bg);
}

.collapseButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
    color: var(--color-primary-text);
}

.collapseButton:hover {
    color: var(--color-primary-bg);
    background-color: var(--color-accent);
}

.folderContent {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folderTitle {
    flex: 1;
}

.renameInput {
    flex: 1;
    border: 1px solid #ccc;
    padding: 2px;
}
